.tablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: 	rgb(200,200,200);
  border: 1px solid rgb(120,120,120);
  width: 70%;
  margin: auto;
  padding: 20px;
} 

h3 {
  text-align: center;
  padding: 30px;
}