.dataContainer {
  background: 	rgb(200,200,200);
  width: 350px;
  height: 210px;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #787878;
  line-height: 1.8;
}

button {
  padding: 0 10px;
}