body {
  background: slategray;
  background-image: url('../public/images/mrt.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}